In [2]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
#importing all the required ML packages
from sklearn.linear_model import LogisticRegression #logistic regression
from sklearn import svm #support vector Machine
from sklearn.ensemble import RandomForestClassifier #Random Forest
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes
from sklearn.tree import DecisionTreeClassifier #Decision Tree
from sklearn.model_selection import train_test_split #training and testing data split
from sklearn import metrics #accuracy measure
from sklearn.metrics import confusion_matrix #for confusion matrix

In [3]:
data = pd.read_csv('./data2/TrainingData.csv')
predict_set = pd.read_csv('./data2/TestDataWithHeaders.csv')

In [4]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A1</th>
      <th>A2</th>
      <th>A3</th>
      <th>A4</th>
      <th>A5</th>
      <th>A6</th>
      <th>A7</th>
      <th>A8</th>
      <th>A9</th>
      <th>A10</th>
      <th>...</th>
      <th>A27</th>
      <th>A28</th>
      <th>A29</th>
      <th>A30</th>
      <th>A31</th>
      <th>A32</th>
      <th>A33</th>
      <th>A34</th>
      <th>A35</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.36</td>
      <td>0.45</td>
      <td>0.47</td>
      <td>0.37</td>
      <td>0.33</td>
      <td>0.40</td>
      <td>0.42</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.40</td>
      <td>...</td>
      <td>0.53</td>
      <td>0.41</td>
      <td>0.35</td>
      <td>0.47</td>
      <td>0.50</td>
      <td>0.39</td>
      <td>0.33</td>
      <td>0.42</td>
      <td>0.44</td>
      <td>C</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.33</td>
      <td>0.40</td>
      <td>0.42</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.40</td>
      <td>0.40</td>
      <td>0.33</td>
      <td>0.31</td>
      <td>0.40</td>
      <td>...</td>
      <td>0.50</td>
      <td>0.39</td>
      <td>0.33</td>
      <td>0.42</td>
      <td>0.44</td>
      <td>0.34</td>
      <td>0.33</td>
      <td>0.39</td>
      <td>0.41</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.33</td>
      <td>0.40</td>
      <td>0.40</td>
      <td>0.33</td>
      <td>0.31</td>
      <td>0.40</td>
      <td>0.40</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.37</td>
      <td>...</td>
      <td>0.44</td>
      <td>0.34</td>
      <td>0.33</td>
      <td>0.39</td>
      <td>0.41</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.39</td>
      <td>0.41</td>
      <td>C</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.31</td>
      <td>0.40</td>
      <td>0.40</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.37</td>
      <td>0.40</td>
      <td>0.31</td>
      <td>0.31</td>
      <td>0.37</td>
      <td>...</td>
      <td>0.41</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.39</td>
      <td>0.41</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.40</td>
      <td>0.41</td>
      <td>C</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.33</td>
      <td>0.37</td>
      <td>0.40</td>
      <td>0.31</td>
      <td>0.31</td>
      <td>0.37</td>
      <td>0.38</td>
      <td>0.30</td>
      <td>0.31</td>
      <td>0.40</td>
      <td>...</td>
      <td>0.41</td>
      <td>0.31</td>
      <td>0.33</td>
      <td>0.40</td>
      <td>0.41</td>
      <td>0.31</td>
      <td>0.31</td>
      <td>0.42</td>
      <td>0.43</td>
      <td>C</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 36 columns</p>
</div>

In [5]:
train,test=train_test_split(data,test_size=0.3,random_state=0)
train_Y=train[['Class']]
train = train.drop(['Class'], axis = 1)
train_X=train[train.columns[:]]
test_Y=test[['Class']]
test = test.drop(['Class'], axis=1)
test_X=test[test.columns[:]]

In [6]:
model = svm.SVC(kernel='rbf', C=1, gamma=0.1)
model.fit(train_X,train_Y)
prediction1=model.predict(test_X)
print('Accuracy for rbf SVM is ',metrics.accuracy_score(prediction1,test_Y))

/home/imesh/datamining/VM/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy for rbf SVM is  0.8453333333333334

In [7]:
model=svm.SVC(kernel='linear',C=0.1,gamma=0.1)
model.fit(train_X,train_Y)
prediction2=model.predict(test_X)
print('Accuracy for linear SVM is',metrics.accuracy_score(prediction2,test_Y))

/home/imesh/datamining/VM/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy for linear SVM is 0.8253333333333334

In [9]:
model=DecisionTreeClassifier()
model.fit(train_X,train_Y)
prediction4=model.predict(test_X)
print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction4,test_Y))

The accuracy of the Decision Tree is 0.8553333333333333

In [14]:
model=KNeighborsClassifier() 
model.fit(train_X,train_Y)
prediction5=model.predict(test_X)
print('The accuracy of the KNN is',metrics.accuracy_score(prediction5,test_Y))

The accuracy of the KNN is 0.912

/home/imesh/datamining/VM/lib/python3.5/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [15]:
# model=GaussianNB()
model.fit(train_X,train_Y)
prediction6=model.predict(test_X)
print('The accuracy of the NaiveBayes is',metrics.accuracy_score(prediction6,test_Y))

/home/imesh/datamining/VM/lib/python3.5/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

The accuracy of the NaiveBayes is 0.912

In [16]:
# model=RandomForestClassifier(n_estimators=100)
model.fit(train_X,train_Y)
prediction7=model.predict(test_X)
print('The accuracy of the Random Forests is',metrics.accuracy_score(prediction7,test_Y))

The accuracy of the Random Forests is 0.912

/home/imesh/datamining/VM/lib/python3.5/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [17]:
predictions = model.predict(predict_set)

In [18]:
predictions_save = pd.DataFrame(predictions)
predictions_save.to_csv('mid_results.csv')

In [ ]:
np.